* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background-color: #c2dcfc;
	font-family: "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a {
	color: #FFF;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
.board {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #c2dcfc;
}
.stats {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.5em;
	font-size: 0.8em;
}
.attrs {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
}
.attrs__item {
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	opacity: .5;
	transition: opacity .3s linear;
	border-radius: 50%;
}
.attrs__item:hover {
	opacity: 1;
}
.attrs__item--selected:after {
	content: '+';
	font-weight: 700;
	color: #fff;
}